{% extends 'base.html.twig' %}

{% block title %}Immobiliendatenbank!{% endblock %}

{% block body %}

<div class="content">
	<h1 class="banner">ImmoDB</h1>

	<br><p class="h4">Immobilie der Datenbank hinzufügen:</p>
	
	{{ form(form) }}
</div>

{% endblock %}