{% extends 'base.html.twig' %}

{% block title %}Immobiliendatenbank!{% endblock %}

{% block body %}

<h1>ImmoDB</h2>
<h2>{{hw}}</h2>
<form>
	<label for="fquery">Search</label>
  	<input type="text" id="fquery" name="fquery">
</form>

{% endblock %}