html, body {
	margin: 0;
	padding: 0;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.content {
	max-width: 60%;
	height: 100vh;
	margin: 0 auto;
	padding: 1rem;
	background: linear-gradient(#AAA, #999);
}
  
.banner {
	background: linear-gradient(#404045, #303035, #333338);
	border: 0.1rem solid #222;
	border-radius: 0.2rem;
	color: #fff;
	padding: 1rem;
	text-align: center;
	font-size: banner;
}
